.block {
    width: 200px;
    height: 200px;
    background-color: navy;
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2.25); /* 450px / 200px = 2.25 */
    }
    100% {
      transform: scale(1);
    }
  }
  